{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Forgot Password</title>
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="login-cont">
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <h2>Forgot Password</h2>
        <input type="email" name="email" placeholder="Enter your registered email" required>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <button class="button-login">Send OTP</button>
      </form>
    </div>
  </div>
</body>
</html>
