{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="login-cont">
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <h2>Reset Password</h2>
      <input type="password" name="password" placeholder="Enter new password" required>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <button class="button-login">Reset Password</button>
    </form>
  </div>
</div>
</body>
</html>
